/* Global Colors */
:root {
    /* Core Colors */
    --black: #090606;
    --white: #FFFFFF;
    --background: #4ace6e;

    /* Additional Colors */
    --dark-white: #EAE2B7;
    --blue: #175676;
    --red: #BA324F;
    --light-blue: #48c2fe;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    color: var(--black);
    background-color: var(--background);
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    color: var(--light-blue);
    text-decoration: underline;
}

h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 600;
}

h3 {
    margin-top: 20px;
}

#nav-logo {
    max-width: 150px;
    margin-top: 20px;
}

#nav-project-name {
    font-size: 40px;
    font-weight: 800;
}

#nav-team-number {
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 600;
}

#nav-team-names {
    font-size: 23px;
    position: absolute;
    right: 20px;
    top: 60px;
}